@import '_color.scss';

.study-list {
    &__ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__li {
        // width: 22%;
        max-width: 22%;
        width: 100%;
        height: 100%;
        position: relative;

        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }

        &:nth-child(n+5) {
            margin-top: 110px;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__imgbox {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__img {
        width: 100%;

        img {
            // width: 100%;
            width: 170%;
            height: auto;
            line-height: 0;
            position: absolute;
            bottom: 0;
            margin: 0 -35%;
        }
    }

    &__txt {
        position: absolute;
        display: -webkit-box;
        overflow: hidden;
        padding-top: 10px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}