//margin-top
.mg-t20 {
    margin-top: 20px;
}

.mg-t50 {
    margin-top: 50px;
}
.mg-t80 {
    margin-top: 80px;
}
.mg-t100 {
    margin-top: 100px;
}

//margin-bottom
.mg-b20 {
    margin-bottom: 20px;
}

.mg-b50 {
    margin-bottom: 50px;
}
.mg-b80 {
    margin-bottom: 80px;
}
.mg-b100 {
    margin-bottom: 100px;
}

//margin-top
.mg-t20 {
    margin-top: 20px;
}
.mg-t50 {
    margin-top: 50px;
}
.mg-t100 {
    margin-top: 100px;
}

//padding-bottom
.pd-b100 {
    padding-bottom: 100px;
}

