//margin-top
.mg-t20 {
    margin-top: 20px;
}

.mg-t50 {
    margin-top: 50px;
}
.mg-t80 {
    margin-top: 80px;
}
.mg-t100 {
    margin-top: 100px;
}

//margin-bottom
.mg-b20 {
    margin-bottom: 20px;
}

.mg-b50 {
    margin-bottom: 50px;
}
.mg-b80 {
    margin-bottom: 80px;
}
.mg-b100 {
    margin-bottom: 100px;
}
.mg-b200 {
    margin-bottom: 200px;
}

//margin-top
.mg-t20 {
    margin-top: 20px;
}
.mg-t50 {
    margin-top: 50px;
}
.mg-t100 {
    margin-top: 100px;
}

//margin-left
.mg-l-50 {
    margin-left: -50%;
}
.mg-l-30 {
    margin-left: -30%;
}
.mg-l-10 {
    margin-left: -10%;
}
.mg-l-100 {
    margin-left: -30%;
}
.mg-l200 {
    margin-left: 20%;
}
.mg-l100 {
    margin-left: 10%;
}

//padding-top
.pd-t20 {
    padding-top: 20px;
}

//padding-bottom
.pd-b100 {
    padding-bottom: 100px;
}

//breakpoint
$pc: 1366px;
$pcmin: 1240px;
$pcmin02: 1110px;
$pcmin03: 1285px;
$pcinner: 1024px;
$pcinner02: 1064px;
$tabpc: 768px;
$sp: 767px;

