@import "_color.scss";
@import "_mixin.scss";

html {

    //ロード画面
    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            display: none;
            opacity: 0;
            z-index: -1;
        }
    }

    #loader {
        width: 100%;
        height: 100vh;
        background-color: $c_bg02;
        /* 環境によって「z-index」追加 */
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    /* 読み込み完了後に「loaded」を付与する */
    #loader.loaded {
        animation: fadeOut 1s forwards;
    }

    /* 以降「SpinKit」で選んだアニメーションのCSSを貼付する */
    .spinner {
        margin: 100px auto;
        width: 40px;
        height: 40px;
        top: 45%;
        position: relative;
        text-align: center;

        -webkit-animation: sk-rotate 2.0s infinite linear;
        animation: sk-rotate 2.0s infinite linear;
    }

    .dot1,
    .dot2 {
        width: 60%;
        height: 60%;
        display: inline-block;
        position: absolute;
        top: 0;
        // background-color: $c_bg01;
        background-color: $c_bg03;
        border-radius: 100%;

        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .dot2 {
        top: auto;
        bottom: 0;
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    @-webkit-keyframes sk-rotate {
        100% {
            -webkit-transform: rotate(360deg)
        }
    }

    @keyframes sk-rotate {
        100% {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg)
        }
    }

    @-webkit-keyframes sk-bounce {

        0%,
        100% {
            -webkit-transform: scale(0.0)
        }

        50% {
            -webkit-transform: scale(1.0)
        }
    }

    @keyframes sk-bounce {

        0%,
        100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }

        50% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }

    //ここまでがロード画面

    // background: $c_bg01;
    background-color: $c_bg03;

    body {
        background-image: url(../images/senn3.svg);
        background-repeat: no-repeat;
        background-size: 420px;
        color: $c_txt02;

        @include sp {
            background-position: top left -250px;
        }

        @include tabpc {
            background-position: top left;
        }

        .sm-btn {
            /*アニメーションの起点とするためrelativeを指定*/
            position: relative;
            overflow: hidden;
            /*ボタンの形状*/
            text-decoration: none;
            display: inline-block;
            background: #fff;
            // border: 1px solid #fff;
            border-radius: 50%;
            /* ボーダーの色と太さ */
            padding: 20px;
            text-align: center;
            outline: none;
            /*アニメーションの指定*/
            transition: ease .2s;
        }

        /*ボタン内spanの形状*/
        .sm-btn span {
            position: relative;
            z-index: 3;
            /*z-indexの数値をあげて文字を背景よりも手前に表示*/
            color: #fff;
        }

        .sm-btn:hover span {
            color: #fff;
        }

        .sm-bgcenterout:before {
            content: '';
            /*絶対配置で位置を指定*/
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            /*色や形状*/
            background: $c_ac;
            // border: 1px solid #000;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            /*アニメーション*/
            transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
            transform: scale(0.12, 0.12);
            transform-origin: center;
        }

        .sm-bgcenterout:after {
            content: url(../images/sm-arrow.svg);
            /*絶対配置で位置を指定*/
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(0.25);
            // transform: translate(-50%,-50%);
            z-index: 2;
            /*色や形状*/
            // background: #000;
            // border-radius: 50%;
            width: 100%;
            height: 100%;
            /*アニメーション*/
            // transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
            // transform: scale(0, 0);
            transform-origin: center;
            opacity: 0;
        }

        /*hoverした際の形状*/
        .sm-bgcenterout:hover:before {
            transform: scale(1, 1);
        }

        .sm-bgcenterout:hover:after {
            opacity: 1;
        }

        .btn {
            /*アニメーションの起点とするためrelativeを指定*/
            position: relative;
            overflow: hidden;
            /*ボタンの形状*/
            text-decoration: none;
            display: inline-block;
            background: #fff;
            // border: 1px solid #fff;
            border-radius: 50%;
            /* ボーダーの色と太さ */
            padding: 24px;
            text-align: center;
            outline: none;
            /*アニメーションの指定*/
            transition: ease .2s;
        }

        /*ボタン内spanの形状*/
        .btn span {
            position: relative;
            z-index: 3;
            /*z-indexの数値をあげて文字を背景よりも手前に表示*/
            color: #fff;
        }

        .btn:hover span {
            color: #fff;
        }

        .bgcenterout:before {
            content: '';
            /*絶対配置で位置を指定*/
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            /*色や形状*/
            background: $c_ac;
            // border: 1px solid #000;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            /*アニメーション*/
            transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
            transform: scale(0.12, 0.12);
            transform-origin: center;
        }

        .bgcenterout:after {
            content: url(../images/arrow.svg);
            /*絶対配置で位置を指定*/
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(0.3);
            // transform: translate(-50%,-50%);
            z-index: 2;
            /*色や形状*/
            // background: #000;
            // border-radius: 50%;
            width: 100%;
            height: 100%;
            /*アニメーション*/
            // transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
            // transform: scale(0, 0);
            transform-origin: center;
            opacity: 0;
        }

        /*hoverした際の形状*/
        .bgcenterout:hover:before {
            transform: scale(1, 1);
        }

        .bgcenterout:hover:after {
            opacity: 1;
        }

        //余白エリア
        //margin-top
        .mg-t20 {
            margin-top: 20px;
        }

        .mg-t50 {
            margin-top: 50px;
        }

        .mg-t80 {
            margin-top: 80px;
        }

        .mg-t100 {
            margin-top: 100px;
        }

        //margin-bottom
        .mg-b20 {
            margin-bottom: 20px;
        }

        .mg-b50 {
            margin-bottom: 50px;
        }

        .mg-b80 {
            margin-bottom: 80px;
        }

        .mg-b100 {
            margin-bottom: 100px;
        }

        .mg-b200 {
            margin-bottom: 200px;
        }

        //margin-top
        .mg-t20 {
            margin-top: 20px;
        }

        .mg-t50 {
            margin-top: 50px;
        }

        .mg-t100 {
            margin-top: 100px;
        }

        //margin-left
        .mg-l-50 {
            margin-left: -50%;

            @include sp {
                margin-left: 0;
            }
        }

        .mg-l-30 {
            margin-left: -30%;

            @include sp {
                margin-left: 0;
            }
        }

        .mg-l-10 {
            margin-left: -10%;

            @include sp {
                margin-left: 0;
            }
        }

        .mg-l-100 {
            margin-left: -30%;

            @include sp {
                margin-left: 0;
            }
        }

        .mg-l200 {
            margin-left: 20%;

            @include sp {
                margin-left: 0;
            }
        }

        .mg-l100 {
            margin-left: 10%;

            @include sp {
                margin-left: 0;
            }
        }

        //padding-top
        .pd-t20 {
            padding-top: 20px;
        }

        //padding-bottom
        .pd-b100 {
            padding-bottom: 100px;
        }

        //余白エリアここまで

        .main-linner {
            // width: 65%;
            max-width: 1440px;
            margin: 0 auto;

            @include sp {
                width: 90%;
            }

            @include tabpc {
                width: 65%;
            }

            &__txt {
                // width: 50%;
                position: relative;

                @include sp {}

                @include tabpc {
                    margin-left: 50%;
                }

                .circle-link {
                    position: absolute;
                    top: -7px;
                    right: 0;
                }
            }

            &__ttl-concept {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    background-color: $c_bg02;

                    @include sp {
                        width: 70%;
                    }

                    @include tabpc {
                        width: 50%;
                    }
                }

                &::after {
                    content: "Concept";
                    position: absolute;
                    top: 27px;
                    font-size: 2rem;

                    @include sp {
                        right: 30%;
                    }

                    @include tabpc {
                        right: 50%;
                    }
                }
            }

            &__ttl-abstract {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    background-color: $c_bg02;

                    @include sp {
                        width: 70%;
                    }

                    @include tabpc {
                        width: 50%;
                    }
                }

                &::after {
                    content: "Abstract";
                    position: absolute;
                    top: 15px;
                    font-size: 2rem;

                    @include sp {
                        right: 30%;
                    }

                    @include tabpc {
                        right: 50%;
                    }
                }
            }

            &__ttl-research {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    background-color: $c_bg02;

                    @include sp {
                        width: 70%;
                    }

                    @include tabpc {
                        width: 50%;
                    }
                }

                &::after {
                    content: "Research";
                    position: absolute;
                    top: 15px;
                    font-size: 2rem;

                    @include sp {
                        right: 30%;
                    }

                    @include tabpc {
                        right: 50%;
                    }
                }
            }

            &__ttl-session {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    background-color: $c_bg02;

                    @include sp {
                        width: 70%;
                    }

                    @include tabpc {
                        width: 50%;
                    }
                }

                &::after {
                    content: "Session";
                    position: absolute;
                    top: 15px;
                    font-size: 2rem;

                    @include sp {
                        right: 30%;
                    }

                    @include tabpc {
                        right: 50%;
                    }
                }
            }

            &__ttl-archive {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    background-color: $c_bg02;

                    @include sp {
                        width: 70%;
                    }

                    @include tabpc {
                        width: 50%;
                    }
                }

                &::after {
                    content: "Archive";
                    position: absolute;
                    top: 15px;
                    font-size: 2rem;

                    @include sp {
                        right: 30%;
                    }

                    @include tabpc {
                        right: 50%;
                    }
                }
            }
        }

        header {
            .header-linner {
                max-width: 1440px;
                margin: 0 auto;
                position: relative;

                @include sp {
                    width: 90%;
                }

                @include tabpc {
                    width: 80%;
                }

                &__txt {
                    width: 50%;
                }
            }

            .header {
                display: flex;
                justify-content: space-between;

                &__logo {
                    width: 30%;
                    min-width: 300px;

                    img {
                        width: 100%;
                    }
                }

                &__ttl {
                    text-decoration: none;
                }

                &__content {
                    width: 40%;
                    @include sp {
                        display: none;
                    }
                }

                &__list {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .header-sp {
                position: fixed;
                top: 0;
                right: 0;
                z-index: 9999;
                @include sp {
                    display: block;
                }

                @include tabpc {
                    display: none;
                }

                .openbtn {
                    position: relative;
                    /*ボタン内側の基点となるためrelativeを指定*/
                    background: $c_bg02;
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    // border-radius: 5px;
                }

                /*ボタン内側*/
                .openbtn span {
                    display: inline-block;
                    transition: all .4s;
                    /*アニメーションの設定*/
                    position: absolute;
                    left: 14px;
                    height: 3px;
                    border-radius: 2px;
                    background: $c_bg03;
                    width: 45%;
                }
    
                .openbtn span:nth-of-type(1) {
                    top: 15px;
                }
    
                .openbtn span:nth-of-type(2) {
                    top: 23px;
                }
    
                .openbtn span:nth-of-type(3) {
                    top: 31px;
                }
    
                /*activeクラスが付与されると1・3番目の要素が2番目の要素と同じ位置になり一本線に*/
    
                .openbtn.active span:nth-of-type(1),
                .openbtn.active span:nth-of-type(3) {
                    top: 23px;
                }

                &__list {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: $c_bg03;
                    z-index: 8888;
                    display: none;
                }
                &__list.active {
                    display: block;
                    position: fixed;
                }
                &__listbox {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    text-align: center;
                    transform: translateY(-50%);
                    transform: translateX(-50%);
                }
            }
        }

        main {
            padding-bottom: 300px; //仮置き

            .hero-header {
                height: 100vh;
                transform: translateY(30%);

                p {
                    font-size: 2rem;
                    line-height: 2.5;
                }
            }

            .session {
                &__schedule {
                    // .btn {
                    //     border: 1px solid $c-bg02;
                    //     border-radius: 5px;
                    //     position: relative;

                    //     &:hover {
                    //         background: rgba(255, 255, 255, 0.1);
                    //         backdrop-filter: blur(10px);
                    //     }

                    //     &::after {
                    //         content: url(../images/arrow_right_alt_black_24dp.svg);
                    //         position: absolute;
                    //         top: 53%;
                    //         transform: translateY(-50%);
                    //         right: 10px;
                    //         z-index: 1;
                    //     }
                    // }
                }

                &__ul {
                    display: flex;
                    position: relative;

                    .sm-circle-link {
                        padding: 10px 0;
                    }
                }

                &__time {
                    width: 40%;
                    padding: 20px 0;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -4px;
                        width: 8px;
                        height: 8px;
                        background: $c_bg02;
                        z-index: 2;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: 70%;
                        height: 1px;
                        background: $c_bg02;
                        z-index: 1;
                    }
                }

                &__txt {
                    // padding: 20px 50px 20px 20px;
                    padding: 20px;
                    width: 60%;
                }

                &__day {
                    font-size: 2.5rem;
                }

                &__kai {
                    @include sp {
                        display: block;
                    }

                    @include tabpc {
                        display: none;
                    }
                }
            }

            .archive {
                &__img-box {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                &__img {
                    @include sp {
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    @include tabpc {
                        width: 45%;
                    }

                    height: 200px;
                    overflow: hidden;

                    img {
                        width: 100%;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}